
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    font-size: 16px;
    font-family: "Times New Roman", serif;
}

body {
    margin: 0px;
    padding: 0px;
}

header {
    padding: 60px;
    text-align: center;
    background: #6B3488;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 25px;
}

h1 {
    padding:15px;
    color: white;
    font-size: 4rem;
    font-family: "Times New Roman", serif;
}

h2 {
    margin: 5px;
    padding-bottom: 10px;
}

h3 {
    margin: 5px;
}

.box {
    border: solid;
    background-color: #D3D3D3;
    margin: 15px;
    flex-grow:4;
    display: flex;
    flex-direction: column;
    justify-items: left;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.addButton {
    font-size: .9rem;
    border: solid;
    background-color: red;
}

.scenarioContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-bottom: 5px;
}

.scenarioContent {
    width:20%;
    min-width:60px;
    border: solid;
    border-width:2px;
    margin: 2%;
    padding: 3px;
    border-radius: 5px;
    background-color: #6B3488;
    color: white;
    font-size: .9rem;
    text-align: center;
}

.scenarioContentNull {
    width:30%;
    min-width:30px;
    border: solid;
    border-width: 1px;
    margin: 2%;
    padding: 3px;
    border-radius: 5px;
    background-color: #D3D3D3 ;
    color: black;
    font-size: .8em;
    text-align: center;
}

@media screen and (max-width:800px) {
    .flexContainer {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .box {
        display: block;
        padding-bottom: 50px;
    }
    .mainHeading {
        padding:5px;
        font-size: 2rem;
    }

}

